:root{
    --colortexto: #ffffff;
    --colorazul: #050a30;
    --colorazuldos: #315f9e;
    --colorazultres: #2c7fba;
    --colorazulcuatro: #1b569c;
    --coloramarillo: #e0c304;
    --coloramarillodos: #f4f235;
    --colorbeig: #fdf5b1;
    --colorgris: #eef6f8;
    --colorazulclaro: #193964;
    --colorblanco: #fff;
    --colorazuldevanecido: rgba(5, 10, 48, .7);
    --coloriconredes: #ffffff;
}

@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
    padding: 0;
    margin: 0;
}

body{
    font-size: 16px;
    font-family: 'Raleway', sans-serif;
    background-color: var(--colorgris);
}

.head_contactos{
    width: 100%;
    height: 40vh;
}

/*mapa*/

.mapa{
    width: 100%;
}:root{
    --colortexto: #ffffff;
    --colorazul: #050a30;
    --colorazuldos: #315f9e;
    --colorazultres: #2c7fba;
    --colorazulcuatro: #1b569c;
    --coloramarillo: #e0c304;
    --coloramarillodos: #f4f235;
    --colorbeig: #fdf5b1;
    --colorgris: #eef6f8;
    --colorgrisfuerte: #d1d1d1;
    --colorazulclaro: #193964;
    --colorblanco: #fff;
    --colorazuldevanecido: rgba(5, 10, 48, .7);
    --coloriconredes: #ffffff;
}

.titulo_secciones{
    width: 100%;
    margin-top: 5rem;
    background: radial-gradient(circle at 33% 100%,
    #050a30 4%,
    #193964 30%,
    #1b569c 62%,
    #2c7fba 85%,
    #e0c304);
    display: flex;
    align-items: end;
    justify-content: center;
}
.title_no{
    width: 100%;
    padding: .4em 0;
    margin-bottom: 2rem;
    
    color: var(--colorgris);
    font-size: 4rem;
    text-align: center;
}