:root{
    --colortexto: #ffffff;
    --coloramarillo: #f4da35;
    --colorblanco: #fff;
    --colorheaderabajo: #050a30;
    --colornav: rgba(5, 10, 48, .7);
    --coloriconredes: #ffffff;
}

@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
    padding: 0;
    margin: 0;
}

body{
    font-size: 16px;
    font-family: 'Raleway', sans-serif;
}

.cabecera{
    background-color: var(--colorheaderabajo);
    height: 5rem;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
}
.cabecera.abajo{
    transition: .3s;
    background-color: var(--colornav);
    border-bottom: solid 1px #050a30;
}

.navegator{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.link_nav, .logo, .icon_link{
    text-decoration: none;
    color: var(--colortexto);
}
.logo img{
    width: 200px;
    line-height: 5rem;
}
.menu_nav{
    display: flex;
    list-style: none;
}
.menu_item, .icon_link{
    font-size: 1.2rem;
    margin: 0 1rem;
    line-height: 5rem;
}

.nav_link_item{
    padding: .4rem .7rem;
    border-radius: .5rem;

}

.nav_link_item:hover{
    background-color: rgba(238, 187, 21, 01);
    color: #050a30;
    font-weight: 700;
    transition: .5s;
}

.nav_toggle{
    color: var(--colorblanco);
    background: none;
    border: none;
    font-size: 2rem;
    cursor: pointer;
    padding: 0 1.4rem;
    line-height: 4rem;

    display: none;
}

/*primera seccion - nosotros*/

.banner_contenedor{
    min-height: 100vh;

    background-image: url(/img/banner.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

.nosotros_contenedor{
    width: 100%;
    height: 100vh;
    background-color: #f4da35;
}