:root{
    --colortexto: #ffffff;
    --colorazul: #050a30;
    --colorazuldos: #315f9e;
    --colorazultres: #2c7fba;
    --colorazulcuatro: #1b569c;
    --coloramarillo: #e0c304;
    --coloramarillodos: #f4f235;
    --colorbeig: #fdf5b1;
    --colorgris: #eef6f8;
    --colorgrisfuerte: #d1d1d1;
    --colorazulclaro: #193964;
    --colorblanco: #fff;
    --colorazuldevanecido: rgba(5, 10, 48, .7);
    --coloriconredes: #ffffff;
}

.titulo_secciones{
    width: 100%;
    margin-top: 5rem;
    background: radial-gradient(circle at 33% 100%,
    #050a30 4%,
    #193964 30%,
    #1b569c 62%,
    #2c7fba 85%,
    #e0c304);
    display: flex;
    align-items: end;
    justify-content: center;
}
.title_no{
    width: 100%;
    padding: .4em 0;
    margin-bottom: 2rem;
    
    color: var(--colorgris);
    font-size: 4rem;
    text-align: center;
}
@media screen and (max-width: 560px){
    .title_no{
        font-size: 3rem;
        
    }
    .boxing{
        margin: 2rem;
    }
}

.contenido_box{
    width: 100%;
    display: block;
    text-align: center;
}

.boxing{
    margin: 4rem;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.boxeer{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    grid-gap: 2rem;
    align-items: center;
}

.boxeer img{
    max-width: 100%;
    height: 60%;
    object-fit: cover;
    margin: auto;
}

.boxeer p{
    text-align: justify;
    font-size: 1.2rem;
}

/*galeria de imagenes*/

.clientes_box{
    width: 100%;
    margin-bottom: 4rem;

    display: flex;
    flex-direction: column;
}
.boxtor{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(40rem, 1fr));
    grid-gap: 1.5rem;
    align-items: center;
}

@media screen and (max-width: 778px){
    .boxtor{
        grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    }
}

@media screen and (max-width: 560px){
    .boxtor{
        grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
        grid-gap: 1rem;
    }
}

.box_img{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.box_img img{
    max-width: 60%;
    object-fit: cover;
}