@media screen and (max-width: 768px){
    .cabecera{
        height: 4rem;
    }
    .cabecera.abajo{
        transition: .3s;
        background-color: var(--colornav);
        border-bottom: solid 1px #050a30;
    }
    
    .logo img{
        width: 180px;
        line-height: 4rem;
    }
    .menu_nav{
        flex-direction: column;
        align-items: center;
        background-color: #050a30;
        position: fixed;
        left: 0;
        top: 4rem;
        width: 100%;
        padding: 1.4rem 0;

        height: calc(100% - 4rem);
        overflow-y: auto;

        left: -100%;
        transition: left .3s;
    }
    .cabecera.abajo .menu_nav{
        background-color: var(--colornav);
    }
    .menu_item{
        line-height: 4.5rem;
    }
    
    .nav_link_item:hover,
    .nav_link_item_active{
        background-color: rgba(238, 187, 21, 01);
        color: #050a30;
        font-weight: 700;
        letter-spacing: .05rem;
        transition: .5s;
    }

    .icon_nav{
        display: none;
    }
    
    .nav_toggle{
        display: block;
    }

    .menu_nav--show{
        left: 0;
    }

    /*SEcciones de la pagina de index*/
    
}