@media screen and (max-width: 768px){
    .cabecera{
        height: 4rem;
    }
    .cabecera.abajo{
        transition: .3s;
        background-color: var(--colorazul);
        border-bottom: solid 1px #050a30;
    }
    
    .logo img{
        width: 180px;
        line-height: 4rem;
    }
    .menu_nav{
        flex-direction: column;
        align-items: center;
        background-color: #050a30;
        position: fixed;
        left: 0;
        top: 4rem;
        width: 28%;
        padding: 1.4rem 0;

        height: calc(100% - 4rem);
        overflow-y: auto;

        left: -100%;
        transition: left .3s;
    }
    .cabecera.abajo .menu_nav{
        background-color: var(--colornav);
    }
    .menu_item{
        line-height: 4.5rem;
    }
    
    .nav_link_item:hover{
        background-color: transparent;
        color: var(--coloramarillo);
        font-weight: 700;
        letter-spacing: .2rem;
    }

    .icon_nav{
        display: none;
    }
    
    .nav_toggle{
        display: block;
    }

    .menu_nav--show{
        left: 0;
    }

    /*SEcciones de la pagina de index*/
    .nosotros_contenedor{
        height: 95vh;
    }
    .title{
        color: var(--colorazul);
        font-size: 3rem;
        text-align: center;
    
        margin: 2rem 0;
    }
    .contenido_nosotro{
        display: block;
        text-align: center;
    
        padding: 2rem;
    }
    .contenido_nosotro img{
        width: 220px;

    }
    .parrafo_nosotros{
        font-size: .8rem;
    }

    .servicios_contenedor{
        height: 270vh;
    
        background-color: #050a30;
        padding-top: 2rem;
    }

    /*contacto*/
    .contacto_contenedor{
        width: 100%;
        height: 160vh;
    }
    
    .box_cont{
        display: flex;
        flex-direction: column;
        margin: 0 2rem;
        border: none;
    }
    .info_contactos{
        border-radius: .5rem;
    }
    .link_contacto{
        font-size: 1rem;
        text-align: center;
    }
    .w, .i, .f, .c, .m{
        font-size: 1.2rem;
    }

    .form_contactos{
        padding: 1rem;
    }
    .btn_cont{
        width: 40%;
    }

    /*footer*/
    .menu_item_footer{
        margin: 0 .7rem;
    }
    .derechos{
        text-align: center;
        font-size: .6rem;

    }
}