:root{
    --colortexto: #ffffff;
    --colorazul: #050a30;
    --colorazuldos: #315f9e;
    --colorazultres: #2c7fba;
    --colorazulcuatro: #1b569c;
    --coloramarillo: #e0c304;
    --coloramarillodos: #f4f235;
    --colorbeig: #fdf5b1;
    --colorgris: #eef6f8;
    --colorazulclaro: #193964;
    --colorblanco: #fff;
    --colorazuldevanecido: rgba(5, 10, 48, .7);
    --coloriconredes: #ffffff;
}

@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
    padding: 0;
    margin: 0;
}

body{
    font-size: 16px;
    font-family: 'Raleway', sans-serif;
    background-color: var(--colorblanco);
}

.cabecera_otros{
    background-color: #050a30;
    height: 5rem;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
}
.cabecera_otros.abajo{
    transition: .3s;
    background-color: var(--colorgris);
    border-bottom: solid .8px var(--colorazul);
}
.cabecera_otros.abajo .logo{
    display: none;
}
.logo_abajo img{
    display: none;
}
.cabecera_otros.abajo .logo_abajo img{
    display: block;
    width: 200px;
    line-height: 5rem;
}

.cabecera_otros.abajo .link_nav{
    text-decoration: none;
    color: var(--colorazul);
}
.cabecera_otros.abajo .nav_link_item {
    padding: .5rem 1rem;
    letter-spacing: .08rem;
    font-weight: 600;
}
.cabecera_otros.abajo .nav_link_item:hover {
    color: var(--coloramarillo);
    border-bottom: 1px solid var(--colorazul);
    transition: .3s;
}

.icon_link{
    color: var(--colorblanco);
    transition: .3s;
}
.icon_link:hover{
    color: var(--coloramarillo);
}
.cabecera_otros.abajo .icon_link{
    color: var(--colorazul);
}
.cabecera_otros.abajo .icon_link:hover{
    background-color: var(--coloramarillo);
    padding: .5rem;
    border-radius: 1em;
    transition: .3s;
}

.head_nosotros{
    width: 100%;
    height: 40vh;
    background: radial-gradient(circle at 33% 100%,
    #050a30 4%,
    #193964 30%,
    #1b569c 62%,
    #2c7fba 85%,
    #e0c304);
    display: flex;
    align-items: end;
    justify-content: center;
}

.title_no{
    width: 100%;
    padding: .4em 0;
    margin-bottom: 2rem;
    
    color: var(--colorgris);
    font-size: 4rem;
    text-align: center;
}

/*............................................Seccion cards*/
  
 .card{
    width: 100%;
    
 }

 .box_card{
    margin: 4rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    grid-gap: 4rem;
}

 .face{
    width: 100%;
    height: 100%;
    box-shadow: 6px 6px 10px 0px rgba(0,0,0,0.4);
    border: 1px solid var(--colorgris);
    border-radius: .5rem;
    transition: .5s;
 }

 .face:hover{
    background: var(--colorazultres);
    cursor: pointer;
    color: var(--colorgris);
 }

 .face img{
    max-width: 100%;
    height: 320px;
    object-fit: cover;
 }

 .contenido_card{
    height: 20vh;
    padding: .5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    text-align: center;
 }
.contenido_card h3{
    padding-bottom: 1.2rem;
}
.contenido_card p{
    text-align: justify;
    padding: 1rem;
}

